<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-194466296-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-194466296-1');
</script>
<!-- Global site tag (gtag.js) - Google Ads: 401904359 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-401904359"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-401904359');
  gtag('config', 'AW-345665916');
</script>
<script>
window.addEventListener("DOMContentLoaded", function(event) {
    document.querySelectorAll("[onclick*='mailto']").forEach(function(item){
        item.addEventListener('click', function(e){
            gtag('event', 'conversion', {'send_to': 'AW-401904359/Js3zCM6liYECEOel0r8B'});
            gtag('event', 'click', {'event_category': 'email'});
        })
    });  
    if(document.querySelector("#inquiryform [type='Submit']") != null){
        document.querySelector("#inquiryform [type='Submit']").addEventListener("click", function(e){
           var name_ = document.querySelector("#inquiryform #contacts").value;
           var email_ = document.querySelector("#inquiryform #email").value;
           var msg_ = document.querySelector("#inquiryform #inquiry").value;
           var vrcode_ = document.querySelector("#inquiryform #code").value;
           if(name_!="" && email_!="" && msg_!="" && vrcode_!=""){
                gtag('event', 'conversion', {'send_to': 'AW-401904359/W9myCO6hiYECEOel0r8B'});
                gtag('event', 'send', {'event_category': 'form'});
           }
        })
    }
    if(document.querySelector("#feedbackform [type='Submit']") != null){
        document.querySelector("#feedbackform [type='Submit']").addEventListener("click", function(e){
           var name_ = document.querySelector("#feedbackform #contacts").value;
           var email_ = document.querySelector("#feedbackform #email").value;
           var msg_ = document.querySelector("#feedbackform #feedback").value;
           var vrcode_ = document.querySelector("#feedbackform #code").value;
           if(name_!="" && email_!="" && msg_!="" && vrcode_!=""){
                gtag('event', 'conversion', {'send_to': 'AW-401904359/W9myCO6hiYECEOel0r8B'});
                gtag('event', 'send', {'event_category': 'form'});
           }
        })
    }
})
</script>
