<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190260364-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190260364-1');
</script>


<!-- Global site tag (gtag.js) - Google Ads: 414492282 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-414492282"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-414492282');
</script>

<script>window.addEventListener("load", function(event) 
  {
  if (window.location.href.includes('/message/feedback.html'))
  {  
    document.querySelectorAll("[type='Submit']").forEach(function(e){
      e.addEventListener('click', function()
      {
        gtag('event', 'conversion', {'send_to': 'AW-414492282/KNMQCOa3n_cBEPrM0sUB'});

    });
    });
 };  
   });
  </script>

<script>window.addEventListener("load", function(event) 
  {
  if (window.location.href.includes('/product/'))
  {  
    document.querySelectorAll("[type='Submit']").forEach(function(e){
      e.addEventListener('click', function()
      {
        gtag('event', 'conversion', {'send_to': 'AW-414492282/46hWCIm9n_cBEPrM0sUB'});

    });
    });
 };  
   });
  </script>

<script>
  window.addEventListener('load', function(event){
    document.querySelectorAll('body > section.other-body > div > div > div.col-xs-12.col-sm-12.col-md-9.col-lg-9 > div.row > div:nth-child(2) > div > div:nth-child(3) > button:nth-child(2)').forEach(function(e){
      e.addEventListener('click', function()
      {
        gtag('event', 'conversion', {'send_to': 'AW-414492282/XxyMCK23n_cBEPrM0sUB'});
    });
    });
  });
  </script>




